build
dist
env
build
develop-eggs
dist
downloads
eggs
.eggs
parts
sdist
var
*.egg-info/
.installed.cfg
*.egg
.dynamodb/
.build/
.env
.vscode
apollo-ios-cli
xcuserdata/
.DS_Store
*.js
!jest.config.js
*.d.ts
node_modules
.cdk.staging
cdk.out